{% load widget_tweaks %}
{% block content %}
{% load static %}
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
		integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'mobile.css' %}">
    <title>Rental System</title>

</head>
<div class ="container container-register">
<div class="head">
<h5><a href="/">Rental System</a></h5>
</div>
<h2>Register a new account</h2>
<h3 style="color: silver;">It's fast and easy!</h3>
<form method='POST' class='form-group form-group-register'>
    {% csrf_token %}
    <table>
        {% render_field form.username class="form-control" placeholder='Username' %}
        {% render_field form.email class="form-control" placeholder='Email' %}
        <div class="etu">
        {% render_field form.first_name class="form-control" placeholder='First Name' %}
        </div>
        <div class="suku">
        {% render_field form.last_name class="form-control" placeholder='Last Name' %}
        </div>
        {% render_field form.password1 class="form-control" placeholder='Password' %}
        {% render_field form.password2 class="form-control" placeholder='Confirm Password' %}
        <button type='submit' style='width: 100%' class='btn btn-success'>Register</button>
    </table>
</form>
</div>

<div class ="footer footer-register">
    <h5>Already registered?</h5>
    <table>
        <a href="/login">Log in</a>
    </table>
</div>
{% endblock %}