{% extends 'base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'rented.css' %}">
<link rel="stylesheet" href="{% static 'darkmode.css' %}">
{% load tz %}
{% get_current_timezone as TIME_ZONE %}
<!-- call empty tag to apply dark theme-->
<input type="null" class="custom-control-input" id="DarkTheme">
{% if rented %}
<div class="container">
    <div class="table-responsive-lg">
        <br>
        <h2>Your rented works!</h2>
        <br>
        <table class="table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Rent date</th>
                    <th>Return date</th>
                    <th>Return</th>
                </tr>
            </thead>
            <tbody>
                {% for item in rented %}
                {% if not item.returned %}
                <tr>
                    {% timezone "Europe/Helsinki" %}
                    <td>{{ item.rented_work }}</td>
                    <td>{{ item.rent_date | date:"j.n.Y, G.i"}}</td>
                    <td>{{ item.return_date | date:"j.n.Y, G.i"}}</td>
                    <td><a href="{% url 'return_work' item.rented_work.id %}" class="p-2 mb-2 bg-primary text-white">Return</a></td>
                    {% endtimezone %}
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% else %}
<tr><td>You haven't rented anything!</td></tr>
{% endif %}

<script src="{% static 'darkmode.js' %}"></script>  
{% endblock %}