{% extends 'base.html' %}
{% block content %}
{% load tz %}
{% if rented %}
<div class="container">
    <div class="table-responsive-lg">
        <br>
        <h2>Your rented works!</h2>
        <br>
        <table class="table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Rent date</th>
                    <th>Return date</th>
                    <th>Return</th>
                </tr>
            </thead>
            <tbody>
                {% for item in rented %}
                {% if not item.returned %}
                <tr>
                    <td>{{ item.rented_work }}</td>
                    <td>{{ item.rent_date | localtime }}</td>
                    <td>{{ item.return_date | localtime }}</td>
                    <td><a href="{% url 'return_work' item.rented_work.id %}" class="p-2 mb-2 bg-primary text-white">Return</a></td>
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% else %}
<tr><td>You haven't rented anything!</td></tr>
{% endif %}
{% endblock %}