{% extends 'base.html' %}
{% block content %}
{% load static %}

<link rel="stylesheet" href="{% static 'darkmode.css' %}">
<!-- call empty tag to apply dark theme-->
<input type="null" class="custom-control-input" id="DarkTheme">

<div class="container">
    <h1>{{ work.title }}</h1>
    <p>{{ work.type }}</p>
    <p>{{ work.creators.all|join:", " }}</p>
    <p>{{ work.publishers.all|join:", "}} {{ work.pub_date }}</p>
    <p>{{ work.desc }}</p>
    {% if user.is_authenticated %}
    {% if not rented %}
    <td><a href="{% url 'rent_work' work.id %}" class="btn btn-primary">Rent</a></td>
    {% else %}
    <td><button class="btn btn-secondary" disabled>Rented</button></td>
    {% endif %}
    {% else %}
    <p>Login to rent</p>
    {% endif %}
    {% if other_works %}
    <hr>
    <h3>Works by same Creator(s)</h3>
    <br>
    {% for other in other_works %}
    <div class="card">
        <div class="card-body">
            <a href="work/1">
                <h5 class="card-title"><a href="{% url 'work' other.id %}">{{ other }}</a></h5>
            </a>
            <p class="card-text"><small class="text-muted">{{ other.creators.all|join:", " }}</small></p>
        </div>
    </div>
    <br>
    {% endfor %}
    {% endif %}
</div>

<script src="{% static 'darkmode.js' %}"></script>
{% endblock %}