{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h1>{{ work.title }}</h1>
    <p>{{ work.type }}</p>
    <p>{{ work.creators.all|join:", " }}</p>
    <p>{{ work.publishers.all|join:", "}} {{ work.pub_date }}</p>
    <p>{{ work.desc }}</p>
    {% if user.is_authenticated %}
        {% if not rented %}
        <button onclick='alert("{{ work.title }}")'>Rent</button>
        {% else %}
        <p>Already rented!</p>
        {% endif %}
    {% else %}
    <p>Login to rent</p>
    {% endif %}
</div>
{% endblock %}